<% content_for :container_classes, 'o-container--narrow' %>

<h1 class="e-title">Log in</h1>

<%= form_tag '/login', class: 'e-form ' do %>
   <ol class="o-grid c-fields c-fields--tight">
      <li class="o-grid__item c-fields__item u-half">
         <%= text_field_tag :name, nil, placeholder: "Name", class: 'e-input' %>
      </li>
      <li class="o-grid__item c-fields__item u-half">
         <%= password_field_tag :password, nil, placeholder: "Password", class: 'e-input' %>
      </li>
      <li class="o-grid__item c-fields__item">
         <%= submit_tag "Log in", class: 'e-button e-button-submit' %>
      </li>
   </ol>
<%end%>
<%= link_to 'forgot your password?', new_password_reset_path, class: 'c-link c-link-forgot-password' %>

<%# modifiers only on the block -normally- %>
