<% content_for :container_classes, 'o-container--narrow' %>

<h1 class="c-text c-text__title">Sign up</h1>

<%= form_with model: @user, class: 'c-form' do |f| %>
  <ol class="c-form_fields">
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= f.text_field :name, placeholder: "Name", class: 'c-input' %>
    </li>
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= f.password_field :password, placeholder: "Password", class: 'c-input' %>
    </li>
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= f.text_field :email, placeholder: "Email", class: 'c-input' %>
    </li>
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= f.submit 'Create User', class: 'c-button c-button-submit' %>
   </li>
  </ol>
<% end %>
