
<% if @group %>
  <nav>
    <ul>
      <% @group.cheatsheets.each do |cheatsheet| %>
        <li>
          <%= link_to cheatsheet.name, [@group, cheatsheet]%>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<h1 class="e-title e-title-1"><%= @cheatsheet.name %></h1>

<% if @cheatsheet.scenarios.empty? %>
  <h3 class="e-title e-title-3">You haven't created scenarios for this cheatsheet. Click the 'plus' button at the button to add some.</h3>
<% end %>

<div class="o-container o-container-scenario" data-controller="drag-item" data-action="dragstart->drag-item#dragstart dragover->drag-item#dragover dragenter->drag-item#dragenter dragleave->drag-item#dragleave drop->drag-item#drop dragend->drag-item#dragend">
  <% @cheatsheet.sorted_scenarios.each_with_index do |scenario, index| %>

    <div class="o-container-scenario-droppable" data-controller="edit-scenario" draggable="true" data-scenario-id="<%= scenario.id %>" data-drag-item-target="scenario">
      <%= form_with model: @cheatsheet, local: true, class: 'e-form e-form-scenario' do |form| %>
        <%# this shows the scenario %>
        <div data-edit-scenario-target="showingScenarioWrapper">
          <%= render 'scenarios/scenario', scenario: scenario do %>
            <%= image_submit_tag("delete-icon.png") %>
            <%= image_tag 'edit-icon.png', data: { action: "click->edit-scenario#toggle" } %>
          <% end %>
        </div>
        <%# this form is to edit the scenario %>
        <%= form.fields_for :scenarios, scenario do |scenario_form| %>
          <div data-edit-scenario-target="editingScenarioWrapper" class="o-container o-wrapper-scenario u--blue u--hidden">
            <%= render partial: 'scenarios/edit_scenario', locals: { scenario_form: scenario_form } %>
          </div>
          <%# the value of the hidden field is set in 'edit_scenario_controller '%>
          <div data-edit-scenario-target="hiddenDeleteScenario">
            <%= scenario_form.hidden_field :_destroy, value: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%# and this is to create a new scenario %>
<div data-controller='add-scenario' class="o-container u-width--all">
  <%= render partial: 'scenarios/new_scenario', locals: { cheatsheet: @cheatsheet } %>
  <%= image_tag 'add-icon.png', class: 'e-image-scenario-add', data: { 
     action: 'click->add-scenario#toggle'
    } %>
</div>



