
<% if @group %>
  <nav>
    <ul>
      <% @group.cheatsheets.each do |cheatsheet| %>
        <li>
          <%= link_to cheatsheet.name, [@group, cheatsheet]%>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<h1><%= @cheatsheet.name %></h1>

<% if @cheatsheet.scenarios.empty? %>
  <h3>You haven't created scenarios for this cheatsheet. Click the 'plus' button at the button to add some.</h3>
<% end %>

<div class="scenarios-wrapper" data-controller="drag-item" data-action="dragstart->drag-item#dragstart dragover->drag-item#dragover dragenter->drag-item#dragenter dragleave->drag-item#dragleave drop->drag-item#drop dragend->drag-item#dragend">
  <% @cheatsheet.scenarios.each_with_index do |scenario, index| %>
    <div class="droppable" data-controller="edit-scenario" draggable="true" data-sort-id="<%= index %>" data-drag-item-target="scenario">
      <%= form_with model: @cheatsheet, local: true do |form| %>
        <div data-edit-scenario-target="showingScenarioWrapper">
          <%= render 'scenarios/scenario', scenario: scenario do %>
            <%= image_submit_tag("delete-icon.png") %>
            <%= image_tag'edit-icon.png', data: { action: "click->edit-scenario#toggle" } %>
          <% end %>
        </div>
        <%= form.fields_for :scenarios, scenario do |scenario_form| %>
          <div data-edit-scenario-target="editingScenarioWrapper" class="editing-scenario-wrapper">
            <%= scenario_form.text_field :content %>
            <%= scenario_form.rich_text_area :example %>
            <%= scenario_form.submit 'update' %>
            <button data-action="click->edit-scenario#cancelEditing" }>Cancel</button>
          </div>
          <div data-edit-scenario-target="hiddenDeleteScenario">
            <%= scenario_form.hidden_field :_destroy, value: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div data-controller='add-scenario' class='add-scenario'>
  <div data-add-scenario-target='form' class='form'>
    <%= form_with model: @cheatsheet, local: true do |form| %>
      <%= form.fields_for :scenarios, @cheatsheet.scenarios.build do |scenario_form| %>
        <%= scenario_form.text_field :content %>
        <%= scenario_form.rich_text_area :example %>
        <%= scenario_form.submit 'create' %>
      <% end %>
    <% end %>
  </div>
  <%= image_tag 'add-icon.png', data: { 
     action: 'click->add-scenario#toggle'
    } %>
</div>



