<% content_for :container_classes, 'o-container--narrow' %>

<h1 class="c-text c-text__title">Edit Group</h1>

<%= form_with model: @group, method: :patch, local: true, class: 'c-form' do |form| %>
  <ol>
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= form.text_field :name, class: 'c-input' %>
    </li>
    <% if @cheatsheets.any? %>
      <h3 class="c-text c-text__title">Select the cheatsheets to be in this group</h3>
      <%= form.collection_check_boxes(:cheatsheet_ids, @cheatsheets, :id, :name) do |b| %>
        <li class="o-grid">
          <%= b.check_box %>
          <%= b.label %>
        </li>
      <% end %>
      <li class="u-margin__top--3">
        <%= form.submit "Update cheatsheets for Group", class: 'c-button c-button-submit' %>
      </li>
    <% else %>
      <h3 class="c-text c-text__title">You haven't created any cheatsheet yet</h3>
    <% end %>
  </ol>
<% end %>

