
<h1>Edit Group</h1>


<%= form_with model: @group, method: :patch, local: true do |form| %>

  <h5>Edit name</h5>
  <%= form.text_field :name %>

  <h5>Select the cheatsheets to be in this group</h5>
 
  <% if @cheatsheets.any? %>
    <%= form.collection_check_boxes(:cheatsheet_ids, @cheatsheets, :id, :name) do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  <% else %>
    <p>You haven't created any cheatsheet yet</p>
  <% end %>

  <%= form.submit "Update cheatsheets for Group" %>
<% end %>

