<div class="top-bar">
  <%= link_to image_tag('logo.jpg'), "/" %>
  <div class="buttons">
    <% if logged_in? %>
      <%= button_to "Cheatsheets", '/cheatsheets', method: :get %>
      <%= button_to "Groups", '/groups', method: :get %>
      <%= button_to "Logout", '/logout', method: :delete %>
    <%else%>
      <%= button_to "Login", '/login', method: :get %>
      <%= button_to "Sign Up", '/users/new', method: :get %>
    <%end%>
  </div>
</div>