<!DOCTYPE html>
<html>
  <head>
    <title>Flamy Duck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=<%= image_url('favicon.ico') %> type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/layouts/top_bar" %>
    <div class="o-container">
      <% if logged_in? %>
        <p class="e-text-user-name">Hi, <%= current_user.name %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= render "/notifications/cookie" %>
  </body>
</html>
